page{
  height:100%;
}

.container{
  margin:0;
  padding:0;
}

.swiper{
  background:red;
  width:100%;
}

.item-swiper{
  background:blue;
}

.item-root{
  height:100%;
  padding:0 10rpx;
}

.item-root>view{
  height:100%;
  border-radius:50rpx;
  background:yellow;
}